 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Steel Vibration</h1>
        <p><%= t 'presentation' %>
        </p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2> <%= t 'groupeLundi' %></h2>
            <a class="thumbnail" href="#">
              <%= image_tag "groupelundi2.jpg" %>
            </a>
          <p> <%= t 'detailsGroupeLundi' %></p>
          <p><a class="btn btn-default" href="http://www.steelvibration.fr/" role="button">Voir details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2><%= t 'stage'%></h2>
             <a class="thumbnail" href="#">
               <%= image_tag "stageEnfants.jpg" %>
             </a>
          <p> <%= t 'detailsStage'%></p>
          <p><a class="btn btn-default" href="http://www.steelvibration.fr/" role="button">Voir details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Construction</h2>
            <a class="thumbnail" href="#">
              <%= image_tag "construction.jpg" %>
            </a>
          <p>A Steel Vibration, on ne fait pas que joueur au pan, on les confectionne aussi. L'association dispose des matériels de dernières générations. Les pesonnes qui se chargent de les fabriquer sont internes de l'assocation. En d'autres termes, afin de faire des économies mais aussi une manire de montrer que cette association prend du plaisir à son activité, ce  sont les membres mêmes de l'assocation qui assurent de créer, personnaliser, réparer leurs outils de travail' </p>
          <p><a class="btn btn-default" href="http://www.steelvibration.fr/" role="button">Voir details &raquo;</a></p>
        </div>
      </div>
