<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  
</head>
  
  
<body>
  
                  
<!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">STEEL VIBRATION</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">        
            <li><a href="#about">L'ASSOCIATION</a></li>
            <li><a href="<%= concerts_path%>">CONCERTS</a></li>
            <li><a href="#evenement">EVENEMENTS</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">MEDIAS <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="<%= albums_path%>">ALBUMS</a></li>
                <li><a href="<%= photos_path%>">PHOTOS</a></li>       
                <li><a href="<%= videos_path%>">VIDEOS</a></li>
               </ul>
            </li>
                        <li><a href="#evenement">ACTUALITES</a></li>
            <li><a href="#evenement">CONTACTS</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  
  <div class='container'>
  
    <%= yield %>
  </div>  
</body>
  
  
</html>
